@using DAL.Entities
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
}

<a asp-controller="Product" asp-action="Create" class="btn btn-success mb-3">Create Product</a>

@if (Model.Any())
{
    <h4 style="text-align:center;background-color:ghostwhite">All Products</h4>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
                <th scope="col">Category</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Description</td>
                    <td><img src="~/Files/Images/@item.Image" style="width:70px ; height:70px" /></td>
                    <td>@item.category.Name</td>
                    <td><a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-eye"></i></a></td>
                    <td><a asp-action="Update" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square text-success"></i></a></td>
                    <td><a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash text-danger"></i></a></td>
                </tr>
            }

        </tbody>
    </table>

}
else
{
    <div class="alert alert-info text-center">
        No Products Found !!
    </div>

}